# ESP-IDF
firmware/build/
firmware/managed_components/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/sdkconfig.defaults.old

# Python
__pycache__/
*.py[cod]
.venv/

# OS/editor
.DS_Store
.vscode/
